<div class="buttons-wrapper">
    
    <table>
        <tr><td><button (click)="onBtnPress('C')">C</button></td><td><button (click)="onBtnPress('()')">()</button></td><td><button (click)="onBtnPress('%')">%</button></td><td><button (click)="onBtnPress('/')">/</button></td></tr>
        <tr><td><button (click)="onBtnPress('7')">7</button></td><td><button (click)="onBtnPress('8')">8</button></td><td><button (click)="onBtnPress('9')">9</button></td><td><button (click)="onBtnPress('x')">x</button></td></tr>
        <tr><td><button (click)="onBtnPress('4')">4</button></td><td><button (click)="onBtnPress('5')">5</button></td><td><button (click)="onBtnPress('6')">6</button></td><td><button (click)="onBtnPress('-')">-</button></td></tr>
        <tr><td><button (click)="onBtnPress('1')">1</button></td><td><button (click)="onBtnPress('2')">2</button></td><td><button (click)="onBtnPress('3')">3</button></td><td><button (click)="onBtnPress('+')">+</button></td></tr>
        <tr><td><button (click)="onBtnPress('+/-')">+/-</button></td><td><button (click)="onBtnPress('0')">0</button></td><td><button (click)="onBtnPress('.')">.</button></td><td><button (click)="onBtnPress('=')">=</button></td></tr>
    </table>
</div>
